<section>
  <header>
    <h2>Portfolio</h2>

    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Services</li>
      <li>Projects</li>
    </ul>
  </header>

  <main>
    <div class="social-network">
      <img src="/assets/icons/icon-google.svg" alt="" class="icon-google">
      <div class="btn-network btn-google">
        <img src="/assets/icons/icon-google.svg" alt="">

        <p>domingosM.fernando@gmail.com</p>
      </div>

      <img src="/assets/icons/icon-facebook.svg" alt="" class="icon-facebook">
      <img src="/assets/icons/icon-whatsapp.svg" alt="" class="icon-whatsapp">
      <img src="/assets/icons/icon-instagram.svg" alt="" class="icon-instagram">
    </div>

    <p class="text-engineer">Computer Engineer</p>
    <p class="text-engineer-min">Enginer Software and Manager of Projects</p>

    <div class="image-welcome"></div>

    <div class="button">
       <button class="btn-contact">Contactar</button>
    </div>

  </main>

  <footer></footer>
</section>
